In [1]:
import pandas as pd

In [3]:
wind_dir = pd.read_csv('./data/dir_viento.csv', sep=';')
wind_dir.drop('Unnamed: 3', axis=1, inplace=True)
wind_dir.rename({'Unnamed: 2': 'direccion'}, axis=1, inplace=True)

In [8]:
wind_vel = pd.read_csv('./data/vel_viento.csv', sep=';')
wind_vel.drop('Unnamed: 3', axis=1, inplace=True)
wind_vel.rename({'Unnamed: 2': 'vel'}, axis=1, inplace=True)

In [14]:
p_atm = pd.read_csv('./data/p_atm.csv', sep=';')
p_atm.drop('Unnamed: 3', axis=1, inplace=True)
p_atm.rename({'Unnamed: 2': 'p_atm'}, axis=1, inplace=True)

In [21]:
humedad_relativa = pd.read_csv('./data/humedad_relativa.csv', sep=';')
humedad_relativa.drop('Unnamed: 3', axis=1, inplace=True)
humedad_relativa.rename({'Unnamed: 2': 'h_relat'}, axis=1, inplace=True)

In [26]:
precipitaciones = pd.read_csv('./data/precipitaciones.csv', sep=';')
precipitaciones.drop('Unnamed: 3', axis=1, inplace=True)
precipitaciones.rename({'Unnamed: 2': 'precipitaciones'}, axis=1, inplace=True)

In [28]:
temp_amb = pd.read_csv('./data/temperatura_ambiente.csv', sep=';')
temp_amb.drop('Unnamed: 3', axis=1, inplace=True)
temp_amb.rename({'Unnamed: 2': 'temp_amb'}, axis=1, inplace=True)

In [30]:
def open_df(path, name):
    df = pd.read_csv(path, sep=';')
    df.drop('Unnamed: 3', axis=1, inplace=True)
    df.rename({'Unnamed: 2': name}, axis=1, inplace=True)
    return df

In [31]:
temp_amb = pd.read_csv('./data/mp25.csv', sep=';')

In [32]:
temp_amb

,FECHA (YYMMDD),HORA (HHMM),Registros validados,Registros preliminares,Registros no validados,Unnamed: 5
0,90101,100,NaN,"8,2",NaN,NaN
1,90101,200,NaN,"6,89999",NaN,NaN
2,90101,300,NaN,"6,6",NaN,NaN
3,90101,400,NaN,"8,79999",NaN,NaN
4,90101,500,NaN,"13,9",NaN,NaN
...,...,...,...,...,...,...
101634,200805,1900,NaN,57,NaN,NaN
101635,200805,2000,NaN,88,NaN,NaN
101636,200805,2100,NaN,97,NaN,NaN
101637,200805,2200,NaN,54,NaN,NaN
101638,200805,2300,NaN,90,NaN,NaN